.container
	.row.align-items-end
		.col-md-12
			md-card
				md-card-title
					h3.sub-heading Site Disclaimer
				md-card-content
					| By entering this site, you declare and affirm under the penalties of perjury that you are not a minor nor in the company of a minor and that accessing this site is not unlawful in your local area.
					br 
					| You are entering this site of your own free volition and the owner of it accepts no responsibility for any individual's experience within.
					br 
					| User agrees that he or she will hold 4wp.ninja harmless from all claims that may arise or result from any link to or content found on this domain.
					br 
					| Furthermore, the user agrees that 4wp.ninja cannot be held responsible for any damage, claims or any mishaps that may happen to occur from any link leading outside this site.
					br 
					| And by entering this site, you agree that your soul legally belongs to the staff of 4wp.ninja.
					br 
					| If you wish to reclaim your soul, send an e-mail to support@wp.ninja.
					br 
					| All wallpapers displayed on 4wp.ninja have been collected from a wide range of resources, including but not limited to 4chan.org, 7chan.org, and reddit, of which we are believed to be in the 'public domain'.
					br 
					| All wallpapers remain copyrighted their respective owners.
					br 
					| If you are the rightful owner of any wallpaper posted here, and object to them being displayed - please contact us and it will be removed immediately.
					br 
					| All of the content on 4wp.ninja is automatically added by 4wp.ninja's site software, without prior acceptation of any administrators or moderators.
					br 
					| All of the content on  4wp.ninja is moderated by it's users.
					br 
					| By this statment, you enter the site at your own responsibility.
					br 
					| 4wp.ninja reserves the right to make changes and improvements to this disclaimer, at any time and without notice.
		.col-md-12
			md-card
				md-card-title
					h3.sub-heading DMCA Notice and Procedure for Copyright Infringement Claims
				md-card-content
					| You may submit a notification pursuant to the Digital Millennium Copyright Act (DMCA) by providing us with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):
					br
					br 
					| - an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright's interest;
					br 
					| - a description of the copyrighted work that you claim has been infringed, including the URL (i.e., web page address) of the location where the copyrighted work exists or a copy of the copyrighted work;
					br 
					| - identification of the URL or other specific location on the Service where the material that you claim is infringing is located;
					br 
					| - your address, telephone number, and email address;
					br 
					| - a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
					br 
					| - a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.
					br 
					br 
					| You can contact us via email at 
					a(href="mailto:support@4wp.ninja?subject=DCMA%20Request") support@4wp.ninja 
					| with a subject starting with "DCMA Request: "