.container
	.row.align-items-end
		.col-md-12
			md-card
				md-card-title
					h2  What programming languages do we use on the site?
			md-card-content
				md-list 
					md-list-item HTML , C#, Javascript
		.col-md-12
			md-card
				md-card-title
					h2 What technologies does the site use
			md-card-content
				p
					a.md-button(href="https://material.angular.io/",target="_blank") Angular Material
				p
					a.md-button(href="https://angular.io/",target="_blank") Angular
				p
					a.md-button(href="https://material.io",target="_blank") Material
				p
					a.md-button(href="https://pugjs.org", target="_blank") Pug
				p
					a.md-button(href="https://docs.microsoft.com/en-us/aspnet/core/",target="_blank") AspNetCore 
				p
					a.md-button(href="https://www.microsoft.com/net/",target="_blank") DotNetCore
				p
					a.md-button(href="https://www.debian.org/",target="_blank") Debain 
				p
					a.md-button(href="http://imagesharp.net/",target="_blank") ImageSharp
				p
					a.md-button(href="https://www.mongodb.com",target="_blank") MongoDb
				p
					a.md-button(href="https://stackexchange.github.io/StackExchange.Redis/",target="_blank") StackExchange.Redis
				p
					a.md-button(href="https://www.newtonsoft.com/json",target="_blank") Newtonsoft.Json
				p
					a.md-button(href="https://serilog.net/",target="_blank") Serilog
				p
					a.md-button(href="https://www.hangfire.io/",target="_blank") Hangfire
				p
					a.md-button(href="https://github.com/AngleSharp/AngleSharp",target="_blank") AngleSharp
				p
					a.md-button(href="https://xunit.github.io/",target="_blank") Xunit
				p
					a.md-button(href="https://jspm.io/",target="_blank") Webpack 